arctic==1.79.3
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
dnspython==2.0.0
enum-compat==0.0.3
joblib==0.16.0
kiwisolver==1.2.0
lz4==3.1.0
matplotlib==3.3.2
mockextras==1.0.2
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
pymongo==3.11.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tzlocal==2.1
